<h1>Get trips Customer Wise</h1>

<div *ngIf="tripBookings !== undefined">
    <div class="col-sm-10 w3-card w3-white"  style="margin-top:30px; margin: auto; opacity: 0.9;">
        <div class="table-responsive">
            <div style="text-align:center;padding-bottom: 10px;"><h1>All Customers</h1></div>
    <table class="table table-hover">
        <tr>
            <th>Customer Id</th>
            <th>TripBookingId</th>
            <th>Driver Assigned</th>
            <th>From Location</th>
            <th>To Location</th>
        </tr>
        <tr *ngFor = "let tripBooking of tripBookings">
            <td>{{tripBooking.customerId}}</td>
            <td>{{tripBooking.tripBookingId}}</td>
            <td>{{tripBooking.driver}}</td>
            <td>{{tripBooking.fromLocation}}</td>
            <td>{{tripBooking.toLocation}}</td>
        </tr>
    </table>
    </div>
    </div>
